body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

#SplitPlayer {
    display: flex;
    padding: 3em 0;
    background-color: #000;
}
#SplitPlayer * {
    flex: 1;
}

#SplitPlayer > * {
    position: relative;
    background: #000;
}

#timeline {
    width: 100%;
    position: relative;
    height: 20px;
    background: #efefef;
}

#timeline i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #e8a040;
}

#timeline .preview-line {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #f7c27a;
}

#timeline:hover .preview-line {
    display: block;
}

#timeline .preview-line time {
    position: absolute;
    right: 0;
    bottom: 0;

}

#splitPlayerController, .settings {
    float: left;
    text-align: center;
    display: block;
    width: 100%;
    padding: .5em;
}

#splitPlayerController span, .settings span {
    padding: .5em;
    border: 2px;
    cursor: pointer;
    margin: 0 .1em;
    display: inline-block;
    background-color: rgb(200, 207, 204);
}

#splitPlayerController span:hover {
    opacity: 0.8;
}

.no-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grd-1 {
    float: left;
    display: block;
    width: 100%;
}

#playerTimeDisplay {
    text-align: center;
    padding: .5em;
}

#playerTimeDisplay time {
    padding: 0 .2em;
    font-style: normal;
}

#playerTimeDisplay time:first-child:after {
    content: '/';
    padding-left: .4em;
}

#playerTimeline {
    padding: .5em;
}
